.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  background: #ecf0f1;
}

@media screen and (max-width: 768px) {
  .app-container {
    display: grid;
    height: 100%;
    max-width: 100%;
    width: 100%;
  }

  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
    flex-direction: column;
    margin-left: 0px !important;
    width: 100%;
  }
}

.header {
  margin-bottom: 20px;
  border-bottom: 4px solid #ff0000;
}

.input_box {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
}
